@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Kişisel veri";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Hesabınız bize sağladığınız kişisel verileri içermektedir.Bu sayfa verileri indirmenize veya silmenize olanak tanır.</p>
        <p>
            <strong>Bu verilerin silinmesi hesabınız kalıcı olarak kaldırılmasına neden olur ve bu durum kurtarılamaz.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Yükle</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
